In [353]:
import pandas as pd
wages = pd.read_csv('./dataframes/wages_df.csv')
wages = wages.set_index('ref_area.label')
wages = wages.rename(columns = {'Average': 'Average Wages'})
wages

                 Average Wages  Average GDP
ref_area.label
Austria              58.895000   559.852053
Belgium              64.348333   632.735292
Bulgaria             48.042500    81.429099
Croatia              58.420000   210.461610
Cyprus               52.950000   383.191797
Czechia              53.955833   232.553866
Denmark              59.089167   720.960773
Estonia              54.654167   181.284794
Finland              57.288333   589.136949
France               61.741667   567.808565
Germany              61.931667   526.547870
Greece               56.306667   475.549315
Hungary              50.570000   192.296766
Iceland              61.033333   463.369318
Ireland              45.021667   735.369611
Italy                59.380833   624.613313
Latvia               51.393333   159.836095
Lithuania            47.540833   162.916539
Luxembourg           54.947500  1395.076447
Malta                49.801667   301.465340
Montenegro           46.493333          NaN
Netherlands          63.995000   731.960199
North Macedonia      44.932500    87.831724
Norway               50.030000  1008.510749
Poland               47.909167   177.732589
Portugal             58.117500   303.440302
Romania              41.990000   135.373934
Serbia               51.564167   117.777483
Slovakia             48.561667   202.885018
Slovenia             58.780833   281.094035
Spain                60.277500   434.731622
Sweden               55.393333   599.646295
Switzerland          67.942500   853.857634
Turkey               36.703333   200.967204
United Kingdom       57.735000   516.610182

In [354]:
unemployment = pd.read_csv('./dataframes/unemployment_df.csv')
unemployment = unemployment.set_index('ref_area.label')
unemployment.shape

(35, 2)

In [355]:
# Correlation only with advanced education: 0.60
# Medium correlation with Intermediate education:-0.43
# No correlation with Basic education
education = pd.read_csv('./dataframes/education_df.csv')
education = education.set_index('TIME')
education

,Average GDP,basic Average,intermediate Average,Advanced Average
TIME,,,,
Belgium,709.630729,18.580519,39.241438,42.177827
Bulgaria,109.098870,13.481021,57.713673,28.805385
Czechia,269.340377,5.336603,73.005127,21.644294
Denmark,829.040914,21.949427,42.263024,34.094235
Germany,597.360827,13.870702,57.933511,27.986583
Estonia,248.627246,10.431208,51.711521,37.841544
Ireland,987.395038,16.188844,36.972264,43.892003
Greece,448.134528,26.596933,42.366434,31.036689
Spain,470.194131,38.903227,23.736030,37.360743
France,627.510061,19.213918,43.981480,36.606135
Croatia,221.455325,12.342067,63.457412,24.129893
Italy,653.875914,33.812875,46.445320,19.741812
Cyprus,388.274275,18.525678,38.762742,42.712477
Latvia,207.708209,9.741388,57.393340,32.804135
Lithuania,216.747197,5.113624,54.847084,40.038869
Luxembourg,1530.690959,18.988221,34.517443,42.170501
Hungary,201.110727,12.701392,61.879569,25.418979
Malta,358.881563,41.153904,32.150507,26.697681
Netherlands,819.652297,23.092661,41.367712,34.555802
Austria,640.420618,15.059170,57.117249,27.823727
Poland,211.995099,6.658722,62.608218,30.733055
Portugal,314.696171,53.036613,24.035105,22.928128
Romania,168.720866,21.922571,59.745104,18.332256
Slovenia,321.282311,10.659041,57.506968,31.835043
Slovakia,238.640183,5.847717,72.125343,22.027006
Finland,679.656098,13.291845,46.391953,40.308146
Sweden,703.946230,15.954838,46.422358,37.355301
Iceland,643.054452,30.166655,35.812880,33.883878
Norway,1095.638763,18.193669,41.058340,40.366373
Switzerland,1079.328676,14.913554,47.272342,37.509937
United Kingdom,591.576156,17.665800,41.929560,39.629086
Montenegro,131.002550,9.004489,62.943818,27.794562
North Macedonia,99.241305,20.536613,54.392736,22.285578
Serbia,125.163752,23.815172,51.057295,23.404088
Turkey,209.489302,58.404724,20.914505,20.680751

In [356]:
inflation = pd.read_csv('./dataframes/inflation_df.csv')
inflation = inflation.set_index('LOCATION')
inflation

                Average_Infilation  Average GDP
LOCATION
Austria                   1.823534   638.293471
Belgium                   1.744923   707.767975
Switzerland               0.080451  1076.055141
Czechia                   2.067023   267.622424
Germany                   1.326050   595.379758
Denmark                   1.310386   827.044926
Spain                     1.212228   470.142974
Estonia                   2.432025   246.184119
Finland                   1.310291   677.186683
France                    1.095663   626.323865
United Kingdom            2.062963   591.651008
Greece                    0.737302   448.289251
Hungary                   2.965742   200.194501
Ireland                   0.345551   977.320083
Iceland                   4.475821   638.797763
Italy                     1.181333   653.476262
Lithuania                 2.581694   214.673724
Luxembourg                1.611620  1527.009727
Latvia                    2.332160   205.644851
Netherlands               1.636472   818.356457
Norway                    2.206215  1095.089023
Poland                    2.153086   210.999002
Portugal                  0.986013   314.224760
Slovakia                  1.806040   237.531036
Slovenia                  1.339949   319.897178
Sweden                    1.128150   703.228179

In [357]:
depression = pd.read_csv('./dataframes/depression_df.csv')
depression = depression.set_index('TIME')
depression

                 Average_Productivity  Average Depression Rate
TIME
Austria                    625.873632                 3.897819
Belgium                    695.560081                 4.455466
Bulgaria                   102.204201                 2.882526
Croatia                    218.333564                 3.239540
Cyprus                     385.857859                 3.765708
Denmark                    810.713937                 4.076575
Estonia                    231.447697                 3.804306
Finland                    661.411414                 5.973561
France                     617.734251                 4.601455
Germany                    583.924070                 4.574229
Greece                     457.331706                 6.353230
Hungary                    195.046841                 2.966710
Iceland                    610.762807                 3.697216
Ireland                    912.556771                 5.327828
Italy                      651.783252                 4.216119
Latvia                     195.317682                 3.852566
Lithuania                  203.118592                 4.265404
Malta                      350.187919                 3.818966
Montenegro                 123.910007                 3.161505
Netherlands                803.639602                 4.382999
North Macedonia             98.197521                 2.832297
Norway                    1108.417438                 4.277365
Poland                     202.868102                 2.499345
Portugal                   311.586304                 5.282370
Romania                    158.728942                 2.906157
Serbia                     122.811182                 3.002194
Slovenia                   312.205935                 3.473952
Spain                      468.423337                 5.305419
Sweden                     695.564758                 5.409227
Switzerland               1052.353049                 4.475828
Turkey                     212.003740                 5.049210
United Kingdom             589.308735                 5.274675

In [358]:
age_df = pd.read_csv('./dataframes/age_df.csv')
age_df = age_df.set_index('TIME')
age_df

,Average GDP,1524 Employers Average,2544 Age Employers Average,45 plus Employers Average
TIME,,,,
Belgium,709.630729,8.075380,51.332546,27.265285
Bulgaria,109.098870,6.090224,49.700133,27.318269
Czechia,269.340377,6.454611,51.316194,26.916198
Denmark,829.040914,14.700964,42.529761,26.698460
Germany,597.360827,10.398460,42.911399,28.977888
Estonia,248.627246,8.789436,46.769671,27.471371
Ireland,987.395038,13.158156,50.656564,23.545109
Greece,448.134528,6.087452,54.094960,27.181201
Spain,470.194131,7.535071,52.683958,26.050192
France,627.510061,9.731514,48.940167,27.210365
Croatia,221.455325,8.781355,51.899509,25.633935
Italy,653.875914,6.324784,48.494255,30.284208
Cyprus,388.274275,9.062056,53.340743,24.130219
Latvia,207.708209,8.777263,47.121034,27.429342
Lithuania,216.747197,8.159721,46.659118,28.420862
Luxembourg,1530.690959,7.229260,55.844774,27.215934
Hungary,201.110727,7.116592,52.810892,26.188924
Malta,358.881563,13.442522,53.302375,21.426901
Netherlands,819.652297,15.886624,42.202114,25.972341
Austria,640.420618,NaN,NaN,NaN
Poland,211.995099,8.376386,53.753159,24.539790
Portugal,314.696171,7.403577,48.198676,29.570009
Romania,168.720866,7.691727,52.844563,26.959004
Slovenia,321.282311,7.735083,51.543123,28.998877
Slovakia,238.640183,7.672179,53.610595,25.248650
Finland,679.656098,11.953550,43.731079,26.151739
Sweden,703.946230,12.286829,44.369665,25.720599
Iceland,643.054452,16.232513,42.249084,25.051027
Norway,1095.638763,13.369678,44.964055,25.457364
Switzerland,1079.328676,13.015463,43.679547,27.331191
United Kingdom,591.576156,13.643121,45.149789,26.507286
Montenegro,131.002550,9.474277,52.019141,25.513386
North Macedonia,99.241305,9.908447,53.293747,23.803736
Serbia,125.163752,7.252907,48.539108,28.542920
Turkey,209.489302,16.430387,55.926233,20.017456

In [359]:
sleep = pd.read_csv('./dataframes/sleep_df.csv')
sleep = sleep.set_index('Country')
sleep

                                             2000  2010   2022
Country
Austria                                         :  8:20  7.183
Belgium                                      8:25  8:30  7.300
Bulgaria                                     9:07     :  7.150
Croatia                                       NaN   NaN  7.233
Czechia                                       NaN   NaN  7.183
Denmark                                       NaN   NaN  7.250
Estonia                                      8:25  8:43  7.367
Finland                                       NaN   NaN  7.500
France (including Monaco)                    8:50  8:22  7.383
Germany                                      8:12  8:21  7.233
Greece                                          :  8:24  7.100
Hungary                                         :  8:27  7.167
Iceland                                       NaN   NaN  7.383
Ireland                                       NaN   NaN  7.283
Italy                                        8:18  8:21  7.083
Latvia                                       8:40     :  7.150
Lithuania                                    8:32     :  7.300
Luxembourg                                      :  8:37  7.117
Malta                                         NaN   NaN  6.967
Netherlands                                     :  8:21  7.467
Norway                                       8:03  8:01  7.333
Poland                                       8:28  8:29  7.083
Portugal (including the Azores and Madeira)   NaN   NaN  7.217
Republic of Cyprus                            NaN   NaN  7.233
Romania                                       NaN   NaN  7.150
Slovakia                                      NaN   NaN  7.200
Slovenia                                      NaN   NaN  7.167
Spain (including the Balearic Islands)       8:34  8:28  7.067
Sweden                                        NaN   NaN  7.300
Switzerland                                   NaN   NaN  7.317

In [360]:
# df = unemployment
df = unemployment[['Average Unemployment Rate']]
df['Advanced Education'] = education['Advanced Average']
df['Intermediate Education'] = education['intermediate Average']
df['Inflation'] = inflation['Average_Infilation']
df['depression'] = depression['Average Depression Rate']
df['% of young employers(15-24)'] = age_df['1524 Employers Average']
df['Average Wages'] = wages['Average Wages']


df.shape

(35, 7)

In [361]:
df.corr()

,Average Unemployment Rate,Advanced Education,Intermediate Education,Inflation,depression,% of young employers(15-24),Average Wages
Average Unemployment Rate,1.000000,-0.231506,-0.026643,-0.288186,-0.001413,-0.318156,-0.281553
Advanced Education,-0.231506,1.000000,-0.360613,-0.081711,0.425542,0.275005,0.335452
Intermediate Education,-0.026643,-0.360613,1.000000,0.229988,-0.625445,-0.442782,-0.140156
Inflation,-0.288186,-0.081711,0.229988,1.000000,-0.551124,0.107838,-0.232044
depression,-0.001413,0.425542,-0.625445,-0.551124,1.000000,0.259594,0.308654
% of young employers(15-24),-0.318156,0.275005,-0.442782,0.107838,0.259594,1.000000,0.058107
Average Wages,-0.281553,0.335452,-0.140156,-0.232044,0.308654,0.058107,1.000000

In [362]:
# evaluate an elastic net model on the dataset
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import ElasticNet
# load the dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
dataframe = read_csv(url, header=None)
data = dataframe.values
X, y = data[:, :-1], data[:, -1]
# define model
model = ElasticNet(alpha=1.0, l1_ratio=0.5)
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
print(scores)
# force scores to be positive
# scores = absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))
dataframe

[-3.93204751 -4.38866445 -2.58829835 -4.60723032 -3.12325457 -3.62936012
 -3.17486025 -4.18401427 -4.15081018 -3.04479217 -2.88848787 -4.27201066
 -3.73117896 -4.06832984 -3.96507442 -3.35475538 -4.46649262 -3.83878945
 -3.32531364 -2.98848206 -3.48528216 -3.22937223 -3.54880174 -3.81254446
 -4.49547179 -3.8006717  -3.75756853 -4.25600877 -3.14457258 -3.19827097]
Mean MAE: -3.682 (0.530)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [363]:
scores

array([-3.93204751, -4.38866445, -2.58829835, -4.60723032, -3.12325457,
       -3.62936012, -3.17486025, -4.18401427, -4.15081018, -3.04479217,
       -2.88848787, -4.27201066, -3.73117896, -4.06832984, -3.96507442,
       -3.35475538, -4.46649262, -3.83878945, -3.32531364, -2.98848206,
       -3.48528216, -3.22937223, -3.54880174, -3.81254446, -4.49547179,
       -3.8006717 , -3.75756853, -4.25600877, -3.14457258, -3.19827097])

In [364]:
# evaluate an elastic net model on the dataset
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import ElasticNet
# load the dataset
#df = df.fillna(0)
data_y = unemployment[['Average GDP']].values
df_elastic = df.dropna()
data = df_elastic.values
X1, y1 = data[:, :-1], data_y[:, -1]
# y1 = data_y[:, -1]
# define model
model1 = ElasticNet(alpha=1.0, l1_ratio=0.5)
# define model evaluation method
cv1 = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
scores1 = cross_val_score(model1, X1, y1, scoring='neg_mean_absolute_error', cv=cv1, n_jobs=-1)
scores = absolute(scores1)
print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))
scores1

ValueError: Found input variables with inconsistent numbers of samples: [22, 35]

In [ ]:

gdp_df = unemployment[['Average GDP']]
# import ridge regression from sklearn library
from sklearn.linear_model import Ridge
# input
df = df.dropna(0)
X = df.iloc[:, :7]
#output
Y = gdp_df
print(df.shape)
x_train, x_test, y_train, y_test = train_test_split(
    df.iloc[:, :7], gdp_df.iloc[:,-1],
    test_size = 0.25)
# print(x_train)
# Train the model
ridgeR = Ridge(alpha = 1)
ridgeR.fit(x_train, y_train)
y_pred = ridgeR.predict(x_test)

# calculate mean square error
mean_squared_error_ridge = np.mean((y_pred - y_test)**2)
print(mean_squared_error_ridge)

# get ridge coefficient and print them
ridge_coefficient = pd.DataFrame()
ridge_coefficient["Columns"]= x_train.columns
ridge_coefficient['Coefficient Estimate'] = pd.Series(ridgeR.coef_)
print(ridge_coefficient)

In [387]:
# import model
from sklearn.linear_model import ElasticNet
df = df.fillna(0)
X = df.iloc[:, :7]
#output
Y = gdp_df
print(df.shape)
x_train, x_test, y_train, y_test = train_test_split(
    df.iloc[:, :7], gdp_df.iloc[:,-1],
    test_size = 0.25, random_state=5)
# Train the model
e_net = ElasticNet(alpha = 1)
e_net.fit(x_train, y_train)

# calculate the prediction and mean square error
y_pred_elastic = e_net.predict(x_test)
mean_squared_error = np.mean((y_pred_elastic - y_test)**2)
print("Mean Squared Error on test set", mean_squared_error)

e_net_coeff = pd.DataFrame()
e_net_coeff["Columns"] = x_train.columns
e_net_coeff['Coefficient Estimate'] = pd.Series(e_net.coef_)
e_net_coeff

(35, 7)
Mean Squared Error on test set 229955.11464521097

                       Columns  Coefficient Estimate
0    Average Unemployment Rate             -3.858755
1           Advanced Education              7.051922
2       Intermediate Education              0.906276
3                    Inflation            -42.903592
4                   depression             21.086214
5  % of young employers(15-24)             35.404512
6                Average Wages             18.894398