In [17]:
#coding utf8
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [18]:
education = pd.read_csv(r'/home/katia/Downloads/POP_XWAP_SEX_AGE_EDU_NB_Q-filtered-2022-03-25.csv')
education = education[['ref_area.label','classif2.label','time','obs_value' ]]
#prod = prod[['geo', 'TIME_PERIOD','OBS_VALUE']]
education
df_education = education.pivot_table('obs_value', index = ['ref_area.label'],columns = ['time', 'classif2.label'] )
df_education

time                                           2000Q1  \
classif2.label Education (Aggregate levels): Advanced
ref_area.label
Austria                                    477.466667
Belgium                                   1097.866667
Cyprus                                            NaN
Estonia                                    164.666667
Finland                                    655.133333
France                                    5169.266667
Germany                                           NaN
Greece                                     685.333333
Ireland                                    145.933333
Italy                                             NaN
Latvia                                            NaN
Lithuania                                         NaN
Luxembourg                                        NaN
Malta                                             NaN
Netherlands                               1559.633333
Portugal                                   357.466667
Slovakia                                   208.133333
Slovenia                                   131.733333
Spain                                     3831.633333

time                                                \
classif2.label Education (Aggregate levels): Basic
ref_area.label
Austria                                1243.266667
Belgium                                2378.133333
Cyprus                                         NaN
Estonia                                 174.466667
Finland                                 830.966667
France                                12501.966667
Germany                                        NaN
Greece                                 2901.600000
Ireland                                1380.233333
Italy                                          NaN
Latvia                                         NaN
Lithuania                                      NaN
Luxembourg                                     NaN
Malta                                          NaN
Netherlands                            3172.266667
Portugal                               4279.666667
Slovakia                                708.600000
Slovenia                                326.966667
Spain                                 12970.600000

time                                                       \
classif2.label Education (Aggregate levels): Intermediate
ref_area.label
Austria                                       2310.466667
Belgium                                       1656.233333
Cyprus                                                NaN
Estonia                                        367.200000
Finland                                        988.066667
France                                       10569.733333
Germany                                               NaN
Greece                                        1860.866667
Ireland                                        309.466667
Italy                                                 NaN
Latvia                                                NaN
Lithuania                                             NaN
Luxembourg                                            NaN
Malta                                                 NaN
Netherlands                                   3164.633333
Portugal                                       617.800000
Slovakia                                      1798.333333
Slovenia                                       586.433333
Spain                                         3615.200000

time                                                \
classif2.label Education (Aggregate levels): Total
ref_area.label
Austria                                4031.733333
Belgium                                5132.266667
Cyprus                                         NaN
Estonia                                 708.133333
Finland                                2583.266667
France                                28256.133333
Germany                                        NaN
Greece                                 5447.800000
Ireland                                1844.733333
Italy                                          NaN
Latvia                                         NaN
Lithuania                                      NaN
Luxembourg                                     NaN
Malta                                          NaN
Netherlands                            7928.466667
Portugal                               5254.933333
Slovakia                               2715.233333
Slovenia                               1048.000000
Spain                                 20738.800000

time                                           2000Q2  \
classif2.label Education (Aggregate levels): Advanced
ref_area.label
Austria                                    483.866667
Belgium                                   1118.533333
Cyprus                                      66.200000
Estonia                                    161.933333
Finland                                    664.000000
France                                            NaN
Germany                                   7764.033333
Greece                                     692.200000
Ireland                                    315.533333
Italy                                     2162.333333
Latvia                                     176.866667
Lithuania                                  576.266667
Luxembourg                                  32.766667
Malta                                        8.866667
Netherlands                               1569.400000
Portugal                                   362.733333
Slovakia                                   214.200000
Slovenia                                   130.600000
Spain                                     3893.766667

time                                                \
classif2.label Education (Aggregate levels): Basic
ref_area.label
Austria                                1248.600000
Belgium                                2414.966667
Cyprus                                  143.400000
Estonia                                 182.366667
Finland                                 826.133333
France                                         NaN
Germany                                8941.833333
Greece                                 2905.666667
Ireland                                 776.200000
Italy                                 16474.566667
Latvia                                  343.333333
Lithuania                               506.333333
Luxembourg                               87.100000
Malta                                   155.600000
Netherlands                            3113.000000
Portugal                               4278.133333
Slovakia                                704.133333
Slovenia                                337.266667
Spain                                 12922.466667

time                                                       \
classif2.label Education (Aggregate levels): Intermediate
ref_area.label
Austria                                       2301.533333
Belgium                                       1598.800000
Cyprus                                         111.933333
Estonia                                        361.066667
Finland                                        996.600000
France                                                NaN
Germany                                      20969.800000
Greece                                        1860.800000
Ireland                                        631.866667
Italy                                         9578.733333
Latvia                                         697.866667
Lithuania                                      668.666667
Luxembourg                                      91.000000
Malta                                           28.333333
Netherlands                                   3185.733333
Portugal                                       627.266667
Slovakia                                      1796.733333
Slovenia                                       580.133333
Spain                                         3644.666667

time                                                \
classif2.label Education (Aggregate levels): Total
ref_area.label
Austria                                4034.000000
Belgium                                5132.266667
Cyprus                                  321.533333
Estonia                                 712.300000
Finland                                2586.666667
France                                         NaN
Germany                               42093.133333
Greece                                 5458.733333
Ireland                                1851.600000
Italy                                 29621.600000
Latvia                                 1218.100000
Lithuania                              1751.233333
Luxembourg                              216.366667
Malta                                   192.800000
Netherlands                            7925.533333
Portugal                               5268.200000
Slovakia                               2715.033333
Slovenia                               1050.466667
Spain                                 20789.866667

time                                           2000Q3  \
classif2.label Education (Aggregate levels): Advanced
ref_area.label
Austria                                    467.400000
Belgium                                   1127.066667
Cyprus                                            NaN
Estonia                                    173.100000
Finland                                    657.400000
France                                            NaN
Germany                                           NaN
Greece                                     702.233333
Ireland                                    320.633333
Italy                                     2167.466667
Latvia                                            NaN
Lithuania                                         NaN
Luxembourg                                        NaN
Malta                                             NaN
Netherlands                               1546.200000
Portugal                                   354.666667
Slovakia                                   220.800000
Slovenia                                   130.533333
Spain                                     3990.866667

time                                                ...  \
classif2.label Education (Aggregate levels): Basic  ...
ref_area.label                                      ...
Austria                                1236.600000  ...
Belgium                                2355.633333  ...
Cyprus                                         NaN  ...
Estonia                                 168.733333  ...
Finland                                 830.866667  ...
France                                         NaN  ...
Germany                                        NaN  ...
Greece                                 2884.833333  ...
Ireland                                 749.133333  ...
Italy                                 16500.366667  ...
Latvia                                         NaN  ...
Lithuania                                      NaN  ...
Luxembourg                                     NaN  ...
Malta                                          NaN  ...
Netherlands                            3082.800000  ...
Portugal                               4288.933333  ...
Slovakia                                680.000000  ...
Slovenia                                323.466667  ...
Spain                                 12840.666667  ...

time                                               2021Q2  \
classif2.label Education (Aggregate levels): Intermediate
ref_area.label
Austria                                       2239.000000
Belgium                                       2078.200000
Cyprus                                         166.333333
Estonia                                        313.933333
Finland                                       1246.600000
France                                       13177.133333
Germany                                      21950.666667
Greece                                        2264.333333
Ireland                                        864.466667
Italy                                        11929.666667
Latvia                                         484.200000
Lithuania                                      706.866667
Luxembourg                                      98.933333
Malta                                           83.233333
Netherlands                                   3325.600000
Portugal                                      1433.066667
Slovakia                                      1758.200000
Slovenia                                       532.200000
Spain                                         5753.000000

time                                                \
classif2.label Education (Aggregate levels): Total
ref_area.label
Austria                                4475.533333
Belgium                                5683.533333
Cyprus                                  446.733333
Estonia                                 650.600000
Finland                                2738.400000
France                                32001.866667
Germany                               41291.133333
Greece                                 5244.066667
Ireland                                2464.733333
Italy                                 29626.933333
Latvia                                  921.800000
Lithuania                              1396.333333
Luxembourg                              322.866667
Malta                                   269.466667
Netherlands                            8759.566667
Portugal                               5188.300000
Slovakia                               2805.233333
Slovenia                               1049.866667
Spain                                 23884.666667

time                                           2021Q3  \
classif2.label Education (Aggregate levels): Advanced
ref_area.label
Austria                                   1363.800000
Belgium                                   2211.933333
Cyprus                                     178.966667
Estonia                                    239.466667
Finland                                    945.866667
France                                   10985.733333
Germany                                  11022.433333
Greece                                    1510.400000
Ireland                                   1048.066667
Italy                                     4927.800000
Latvia                                     303.600000
Lithuania                                  540.866667
Luxembourg                                 135.166667
Malta                                       70.933333
Netherlands                               3140.200000
Portugal                                  1385.866667
Slovakia                                   656.800000
Slovenia                                   335.400000
Spain                                     8268.000000

time                                                \
classif2.label Education (Aggregate levels): Basic
ref_area.label
Austria                                 865.533333
Belgium                                1330.366667
Cyprus                                  100.333333
Estonia                                 108.700000
Finland                                 567.066667
France                                 7724.400000
Germany                                8299.000000
Greece                                 1437.800000
Ireland                                 482.866667
Italy                                 12710.400000
Latvia                                  121.433333
Lithuania                               139.733333
Luxembourg                               76.600000
Malta                                   112.566667
Netherlands                            2234.466667
Portugal                               2319.766667
Slovakia                                375.466667
Slovenia                                155.200000
Spain                                  9784.366667

time                                                       \
classif2.label Education (Aggregate levels): Intermediate
ref_area.label
Austria                                       2250.533333
Belgium                                       2146.266667
Cyprus                                         168.300000
Estonia                                        302.400000
Finland                                       1220.466667
France                                       13179.866667
Germany                                      21918.666667
Greece                                        2290.600000
Ireland                                        877.266667
Italy                                        11960.066667
Latvia                                         494.866667
Lithuania                                      714.600000
Luxembourg                                      99.533333
Malta                                           86.166667
Netherlands                                   3314.266667
Portugal                                      1482.700000
Slovakia                                      1772.866667
Slovenia                                       558.933333
Spain                                         5830.400000

time                                                \
classif2.label Education (Aggregate levels): Total
ref_area.label
Austria                                4479.833333
Belgium                                5688.533333
Cyprus                                  447.633333
Estonia                                 650.600000
Finland                                2734.466667
France                                32008.533333
Germany                               41292.866667
Greece                                 5238.833333
Ireland                                2469.700000
Italy                                 29598.266667
Latvia                                  920.033333
Lithuania                              1395.200000
Luxembourg                              322.866667
Malta                                   269.666667
Netherlands                            8752.300000
Portugal                               5188.333333
Slovakia                               2805.166667
Slovenia                               1049.466667
Spain                                 23882.766667

time                                           2021Q4  \
classif2.label Education (Aggregate levels): Advanced
ref_area.label
Austria                                           NaN
Belgium                                   2181.433333
Cyprus                                     181.733333
Estonia                                    241.600000
Finland                                           NaN
France                                   11073.000000
Germany                                           NaN
Greece                                            NaN
Ireland                                           NaN
Italy                                             NaN
Latvia                                     294.300000
Lithuania                                         NaN
Luxembourg                                        NaN
Malta                                             NaN
Netherlands                               3189.900000
Portugal                                  1387.733333
Slovakia                                          NaN
Slovenia                                          NaN
Spain                                     8267.300000

time                                                \
classif2.label Education (Aggregate levels): Basic
ref_area.label
Austria                                        NaN
Belgium                                1379.466667
Cyprus                                   98.900000
Estonia                                 105.466667
Finland                                        NaN

In [19]:
total_education = education[(education['classif2.label'] == 'Education (Aggregate levels): Total')]
total_education
total_education = total_education.pivot_table('obs_value', index = ['ref_area.label'],columns = ['time', 'classif2.label'] )
total_education['Total Average'] = total_education.iloc[:,:88].mean(axis=1, skipna=True)
total_education

time,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,Total Average
classif2.label,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,...,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,Education (Aggregate levels): Total,
ref_area.label,,,,,,,,,,,,,,,,,,,,,
Austria,4031.733333,4034.000000,4033.533333,4033.133333,4042.400000,4045.266667,4045.266667,4046.633333,3993.266667,4001.300000,...,4439.400000,4440.166667,4444.900000,4452.200000,4468.600000,4467.766667,4475.533333,4479.833333,NaN,4251.857471
Belgium,5132.266667,5132.266667,5132.266667,5132.266667,5133.000000,5134.000000,5134.000000,5134.000000,5150.666667,5150.666667,...,5652.966667,5654.800000,5659.433333,5664.766667,5680.266667,5677.866667,5683.533333,5688.533333,5707.133333,5402.142424
Cyprus,NaN,321.533333,NaN,NaN,NaN,326.966667,NaN,NaN,NaN,329.733333,...,438.200000,440.066667,440.733333,438.833333,441.200000,444.600000,446.733333,447.633333,449.733333,405.522535
Estonia,708.133333,712.300000,718.800000,720.866667,712.533333,713.333333,712.600000,713.800000,710.833333,708.000000,...,646.866667,649.466667,649.466667,649.466667,649.466667,650.600000,650.600000,650.600000,650.600000,677.030303
Finland,2583.266667,2586.666667,2587.133333,2590.666667,2588.266667,2592.233333,2591.666667,2593.600000,2594.533333,2598.366667,...,2741.066667,2740.466667,2744.266667,2741.033333,2739.633333,2738.366667,2738.400000,2734.466667,NaN,2673.894253
France,28256.133333,NaN,NaN,NaN,28449.866667,NaN,NaN,NaN,28563.000000,NaN,...,31971.533333,31996.200000,32026.600000,32052.633333,32070.100000,31999.533333,32001.866667,32008.533333,32010.533333,30468.413924
Germany,NaN,42093.133333,NaN,NaN,NaN,42148.666667,NaN,NaN,NaN,42240.233333,...,41495.000000,NaN,NaN,NaN,NaN,41321.333333,41291.133333,41292.866667,NaN,41648.699510
Greece,5447.800000,5458.733333,5469.933333,5481.400000,5651.966667,5642.866667,5634.266667,5626.200000,5622.800000,5623.766667,...,5275.700000,5269.333333,5264.333333,5259.400000,5254.500000,5249.433333,5244.066667,5238.833333,NaN,5499.604981
Ireland,1844.733333,1851.600000,1858.833333,1877.433333,1881.133333,1888.800000,1898.933333,1914.600000,1922.533333,1932.866667,...,2428.933333,2436.600000,2445.800000,2450.466667,2453.200000,2459.000000,2464.733333,2469.700000,NaN,2200.983525
Italy,NaN,29621.600000,29629.333333,29634.800000,29641.800000,29641.000000,29654.466667,29664.033333,29662.100000,29692.200000,...,30051.133333,30043.866667,30058.333333,30046.366667,30005.200000,29652.533333,29626.933333,29598.266667,NaN,29961.203101
Latvia,NaN,1218.100000,NaN,1216.033333,NaN,1192.666667,NaN,1193.066667,1182.866667,1182.533333,...,930.733333,928.900000,927.200000,926.000000,924.833333,923.533333,921.800000,920.033333,918.366667,1060.762302
Lithuania,NaN,1751.233333,NaN,1750.533333,NaN,1737.200000,NaN,1742.733333,1737.933333,1736.233333,...,1393.666667,1396.266667,1395.200000,1396.933333,1397.266667,1400.666667,1396.333333,1395.200000,NaN,1570.605221
Luxembourg,NaN,216.366667,NaN,NaN,NaN,219.333333,NaN,NaN,NaN,219.866667,...,311.800000,318.466667,318.466667,318.466667,318.400000,323.000000,322.866667,322.866667,NaN,265.166667
Malta,NaN,192.800000,NaN,NaN,NaN,197.600000,NaN,NaN,199.333333,201.066667,...,268.266667,268.566667,268.533333,268.600000,268.333333,269.066667,269.466667,269.666667,NaN,224.192593
Netherlands,7928.466667,7925.533333,7934.533333,7943.133333,7974.000000,7987.133333,8000.000000,8013.133333,8026.133333,8039.266667,...,8703.633333,8716.733333,8725.266667,8733.800000,8742.300000,8765.400000,8759.566667,8752.300000,8780.333333,8329.065152
Portugal,5254.933333,5268.200000,5282.966667,5287.066667,5297.066667,5303.200000,5312.266667,5319.766667,5323.333333,5330.333333,...,5176.633333,5187.000000,5186.933333,5187.200000,5192.133333,5187.466667,5188.300000,5188.333333,5192.066667,5285.992803
Slovakia,2715.233333,2715.033333,2715.333333,2715.333333,2732.533333,2732.133333,2736.166667,2734.800000,2737.066667,2737.733333,...,2838.733333,2833.066667,2833.066667,2833.066667,2833.066667,2805.233333,2805.233333,2805.166667,NaN,2818.601149
Slovenia,1048.000000,1050.466667,1051.566667,1050.400000,1049.800000,1051.733333,1053.466667,1055.866667,1053.933333,1052.733333,...,1053.533333,1058.200000,1062.866667,1063.266667,1066.800000,1051.466667,1049.866667,1049.466667,NaN,1060.309962
Spain,20738.800000,20789.866667,20891.333333,20960.066667,21035.166667,21094.666667,21171.200000,21273.433333,21365.800000,21429.400000,...,23740.766667,23808.766667,23872.133333,23897.733333,23914.666667,23905.200000,23884.666667,23882.766667,23884.266667,22963.991288

In [20]:
intermediate_education = education[(education['classif2.label'] == 'Education (Aggregate levels): Intermediate')]
intermediate_education
intermediate_education = intermediate_education.pivot_table('obs_value', index = ['ref_area.label'],columns = ['time', 'classif2.label'] )
intermediate_education['Intermidiate Average'] = intermediate_education.iloc[:,:88].mean(axis=1, skipna=True)
intermediate_education

time,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,Intermidiate Average
classif2.label,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,...,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,Education (Aggregate levels): Intermediate,
ref_area.label,,,,,,,,,,,,,,,,,,,,,
Austria,2310.466667,2301.533333,2329.533333,2332.266667,2351.866667,2359.333333,2360.666667,2360.366667,2287.066667,2335.866667,...,2237.200000,2244.266667,2243.666667,2244.133333,2252.800000,2255.533333,2239.000000,2250.533333,NaN,2378.931801
Belgium,1656.233333,1598.800000,1649.566667,1599.866667,1608.800000,1606.466667,1660.600000,1647.400000,1665.266667,1654.600000,...,2133.400000,2079.866667,2057.933333,2092.200000,2137.666667,2084.033333,2078.200000,2146.266667,2146.266667,1912.419318
Cyprus,NaN,111.933333,NaN,NaN,NaN,113.066667,NaN,NaN,NaN,114.100000,...,165.533333,164.100000,167.966667,168.066667,168.066667,165.633333,166.333333,168.300000,169.066667,149.075117
Estonia,367.200000,361.066667,367.400000,369.133333,366.933333,361.100000,373.166667,364.733333,362.733333,370.466667,...,307.766667,306.633333,312.533333,308.400000,315.966667,314.800000,313.933333,302.400000,303.500000,337.691288
Finland,988.066667,996.600000,1000.066667,1012.266667,1014.133333,1012.000000,1017.866667,1037.266667,1037.066667,1045.266667,...,1200.666667,1184.066667,1200.566667,1195.733333,1180.466667,1246.500000,1246.600000,1220.466667,NaN,1135.079693
France,10569.733333,NaN,NaN,NaN,10716.333333,NaN,NaN,NaN,10806.733333,NaN,...,13440.400000,13381.066667,13323.133333,13464.666667,13382.933333,13299.266667,13177.133333,13179.866667,13119.733333,12439.490295
Germany,NaN,20969.800000,NaN,NaN,NaN,21817.666667,NaN,NaN,NaN,22589.233333,...,22436.333333,NaN,NaN,NaN,NaN,21789.466667,21950.666667,21918.666667,NaN,22976.833333
Greece,1860.866667,1860.800000,1882.866667,1891.066667,1948.766667,1941.133333,1931.866667,1941.533333,1955.600000,1978.666667,...,2315.066667,2320.766667,2293.200000,2326.333333,2332.566667,2267.100000,2264.333333,2290.600000,NaN,2111.244828
Ireland,309.466667,631.866667,619.033333,454.600000,635.600000,638.666667,631.400000,645.666667,648.666667,664.366667,...,890.533333,896.733333,859.400000,871.366667,869.733333,860.400000,864.466667,877.266667,NaN,759.865134
Italy,NaN,9578.733333,9584.433333,9735.333333,9277.633333,9220.000000,9285.466667,9343.600000,9365.033333,9438.266667,...,12145.266667,12147.400000,12042.666667,12209.133333,12317.100000,11987.266667,11929.666667,11960.066667,NaN,11112.897674
Latvia,NaN,697.866667,NaN,694.633333,NaN,636.333333,NaN,651.833333,641.933333,648.600000,...,498.233333,504.133333,504.933333,490.266667,477.333333,484.633333,484.200000,494.866667,498.000000,591.209524
Lithuania,NaN,668.666667,NaN,661.766667,NaN,915.066667,NaN,924.100000,914.866667,916.933333,...,739.600000,727.866667,729.500000,744.000000,736.866667,721.066667,706.866667,714.600000,NaN,834.807229
Luxembourg,NaN,91.000000,NaN,NaN,NaN,84.133333,NaN,NaN,NaN,88.766667,...,96.633333,99.333333,101.033333,101.433333,99.433333,104.333333,98.933333,99.533333,NaN,95.278632
Malta,NaN,28.333333,NaN,NaN,NaN,23.133333,NaN,NaN,23.133333,22.866667,...,86.666667,85.800000,85.100000,84.333333,83.933333,84.933333,83.233333,86.166667,NaN,54.506996
Netherlands,3164.633333,3185.733333,3217.266667,3230.400000,3257.066667,3253.933333,3230.466667,3300.200000,3295.400000,3278.333333,...,3325.800000,3296.866667,3295.266667,3302.100000,3306.000000,3341.066667,3325.600000,3314.266667,3295.200000,3284.004545
Portugal,617.800000,627.266667,639.333333,653.800000,659.400000,656.433333,666.766667,680.866667,678.866667,672.866667,...,1337.733333,1357.533333,1378.300000,1419.600000,1402.533333,1420.800000,1433.066667,1482.700000,1456.200000,979.720455
Slovakia,1798.333333,1796.733333,1814.633333,1817.133333,1829.166667,1834.066667,1845.100000,1839.666667,1845.333333,1847.833333,...,1786.066667,1791.933333,1789.433333,1814.266667,1815.733333,1786.466667,1758.200000,1772.866667,NaN,1870.585441
Slovenia,586.433333,580.133333,595.800000,596.066667,583.733333,591.466667,609.000000,615.266667,607.666667,607.866667,...,580.133333,569.600000,578.066667,589.233333,567.666667,536.600000,532.200000,558.933333,NaN,599.356705
Spain,3615.200000,3644.666667,3721.466667,3703.666667,3740.466667,3764.566667,3769.233333,3825.733333,3839.533333,3861.266667,...,5580.600000,5563.266667,5586.666667,5756.433333,5819.866667,5720.366667,5753.000000,5830.400000,5787.066667,4869.547727

In [21]:
basic_education = education[(education['classif2.label'] == 'Education (Aggregate levels): Basic')]
basic_education
basic_education = basic_education.pivot_table('obs_value', index = ['ref_area.label'],columns = ['time', 'classif2.label'] )
basic_education['Basic Average'] = basic_education.iloc[:,:88].mean(axis=1, skipna=True)
basic_education

time,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,Basic Average
classif2.label,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,...,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,Education (Aggregate levels): Basic,
ref_area.label,,,,,,,,,,,,,,,,,,,,,
Austria,1243.266667,1248.600000,1236.600000,1239.600000,1205.300000,1179.866667,1192.566667,1185.766667,1146.733333,1164.733333,...,882.033333,887.266667,887.266667,871.333333,864.700000,866.333333,869.200000,865.533333,NaN,1036.109962
Belgium,2378.133333,2414.966667,2355.633333,2384.600000,2375.000000,2380.066667,2309.866667,2318.000000,2324.900000,2319.266667,...,1559.333333,1589.600000,1577.200000,1499.666667,1510.100000,1522.000000,1452.200000,1330.366667,1379.466667,1914.466288
Cyprus,NaN,143.400000,NaN,NaN,NaN,141.533333,NaN,NaN,NaN,136.600000,...,107.933333,110.200000,109.066667,102.400000,102.166667,106.066667,104.600000,100.333333,98.900000,126.723944
Estonia,174.466667,182.366667,168.733333,170.400000,174.400000,176.133333,159.666667,162.866667,180.333333,174.066667,...,112.733333,115.600000,113.833333,110.766667,107.133333,109.333333,110.733333,108.700000,105.466667,137.523864
Finland,830.966667,826.133333,830.866667,825.866667,915.666667,913.766667,909.000000,903.200000,888.066667,887.166667,...,527.400000,496.000000,483.066667,506.866667,488.800000,549.200000,544.533333,567.066667,NaN,701.092720
France,12501.966667,NaN,NaN,NaN,12282.866667,NaN,NaN,NaN,12073.066667,NaN,...,8104.066667,8131.266667,8008.200000,7831.533333,7826.766667,7944.400000,7895.866667,7724.400000,7739.466667,9928.615612
Germany,NaN,8941.833333,NaN,NaN,NaN,10436.900000,NaN,NaN,NaN,10328.133333,...,7885.633333,NaN,NaN,NaN,NaN,8479.066667,8225.033333,8299.000000,NaN,8803.958333
Greece,2901.600000,2905.666667,2884.833333,2878.166667,2968.800000,2962.333333,2951.166667,2937.466667,2882.600000,2871.666667,...,1599.266667,1577.600000,1591.266667,1499.933333,1464.766667,1529.733333,1500.366667,1437.800000,NaN,2289.072414
Ireland,1380.233333,776.200000,749.133333,564.666667,732.033333,736.400000,739.800000,729.300000,729.700000,833.066667,...,557.700000,550.066667,544.066667,538.200000,521.866667,476.700000,500.933333,482.866667,NaN,690.838314
Italy,NaN,16474.566667,16500.366667,16358.900000,18108.133333,18100.100000,18121.866667,18062.333333,17948.133333,17844.033333,...,12935.533333,12827.900000,13003.500000,12833.733333,12533.633333,12734.233333,12742.400000,12710.400000,NaN,15107.355426
Latvia,NaN,343.333333,NaN,341.000000,NaN,382.800000,NaN,366.200000,361.800000,350.333333,...,134.066667,140.333333,133.666667,122.533333,130.266667,131.866667,125.433333,121.433333,126.066667,230.819841
Lithuania,NaN,506.333333,NaN,500.866667,NaN,508.333333,NaN,505.533333,508.800000,511.300000,...,145.333333,150.333333,155.933333,142.066667,132.933333,148.366667,151.533333,139.733333,NaN,314.291165
Luxembourg,NaN,87.100000,NaN,NaN,NaN,96.000000,NaN,NaN,NaN,94.133333,...,83.166667,89.366667,85.800000,88.466667,89.000000,87.600000,80.600000,76.600000,NaN,84.040171
Malta,NaN,155.600000,NaN,NaN,NaN,158.466667,NaN,NaN,160.933333,162.566667,...,115.666667,115.300000,116.333333,115.066667,113.866667,113.333333,113.866667,112.566667,NaN,133.821811
Netherlands,3172.266667,3113.000000,3082.800000,3030.133333,3010.066667,3050.200000,3064.466667,2984.266667,3002.166667,3019.800000,...,2384.266667,2381.266667,2318.733333,2255.233333,2251.000000,2292.900000,2283.466667,2234.466667,2235.266667,2722.829167
Portugal,4279.666667,4278.133333,4288.933333,4265.000000,4260.366667,4266.000000,4261.600000,4245.266667,4249.933333,4258.200000,...,2714.533333,2691.200000,2622.000000,2543.000000,2494.000000,2471.266667,2428.533333,2319.766667,2348.133333,3535.439394
Slovakia,708.600000,704.133333,680.000000,677.800000,675.400000,674.866667,661.433333,662.300000,659.666667,663.766667,...,422.800000,412.400000,407.200000,369.866667,365.000000,371.066667,390.000000,375.466667,NaN,525.240613
Slovenia,326.966667,337.266667,323.466667,319.200000,328.800000,326.333333,308.333333,302.733333,306.766667,308.533333,...,180.733333,187.533333,177.666667,164.200000,161.500000,152.866667,148.600000,155.200000,NaN,239.337548
Spain,12970.600000,12922.466667,12840.666667,12878.933333,12875.933333,12911.766667,12908.933333,12886.100000,12863.800000,12861.066667,...,10064.166667,10097.933333,10019.066667,9762.433333,9695.133333,10020.233333,9963.433333,9784.366667,9829.933333,11667.123864

In [22]:
advanced_education = education[(education['classif2.label'] == 'Education (Aggregate levels): Advanced')]
advanced_education = advanced_education.pivot_table('obs_value', index = ['ref_area.label'],columns = ['time', 'classif2.label'] )
advanced_education
advanced_education['Advanced Average'] = advanced_education.iloc[:,:88].mean(axis=1, skipna=True)
advanced_education

time,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,Advanced Average
classif2.label,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,...,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,Education (Aggregate levels): Advanced,
ref_area.label,,,,,,,,,,,,,,,,,,,,,
Austria,477.466667,483.866667,467.400000,461.266667,483.866667,506.066667,492.033333,500.500000,559.366667,500.666667,...,1320.166667,1308.666667,1314.000000,1336.733333,1351.066667,1345.866667,1367.333333,1363.800000,NaN,836.776628
Belgium,1097.866667,1118.533333,1127.066667,1147.866667,1149.200000,1147.466667,1163.533333,1168.600000,1160.466667,1176.800000,...,1960.200000,1985.333333,2024.300000,2072.966667,2032.533333,2071.800000,2153.066667,2211.933333,2181.433333,1575.207955
Cyprus,NaN,66.200000,NaN,NaN,NaN,72.333333,NaN,NaN,NaN,79.000000,...,164.766667,165.800000,163.666667,168.433333,170.933333,172.866667,175.866667,178.966667,181.733333,129.720657
Estonia,164.666667,161.933333,173.100000,168.500000,167.866667,170.000000,170.333333,173.100000,165.866667,163.466667,...,226.366667,227.200000,223.066667,230.333333,226.333333,226.400000,225.933333,239.466667,241.600000,200.991288
Finland,655.133333,664.000000,657.400000,648.133333,658.466667,666.466667,664.800000,653.133333,669.400000,665.966667,...,1013.000000,1060.400000,1060.633333,1038.466667,1070.366667,940.266667,946.500000,945.866667,NaN,832.924904
France,5169.266667,NaN,NaN,NaN,5446.000000,NaN,NaN,NaN,5679.866667,NaN,...,10335.333333,10396.300000,10630.000000,10698.566667,10792.133333,10687.266667,10804.000000,10985.733333,11073.000000,8062.910970
Germany,NaN,7764.033333,NaN,NaN,NaN,7745.733333,NaN,NaN,NaN,7403.666667,...,11027.766667,NaN,NaN,NaN,NaN,11020.400000,11100.200000,11022.433333,NaN,9436.567157
Greece,685.333333,692.200000,702.233333,712.133333,734.400000,739.400000,751.233333,747.266667,784.633333,773.466667,...,1361.400000,1370.966667,1379.866667,1433.133333,1457.200000,1452.600000,1479.400000,1510.400000,NaN,1099.280843
Ireland,145.933333,315.533333,320.633333,235.033333,341.766667,347.000000,357.700000,364.166667,366.800000,391.066667,...,917.133333,926.033333,991.666667,985.733333,985.533333,984.866667,1028.533333,1048.066667,NaN,674.426054
Italy,NaN,2162.333333,2167.466667,2183.733333,2256.000000,2320.933333,2247.066667,2258.033333,2348.966667,2409.933333,...,4970.366667,5068.600000,5012.133333,5003.466667,5154.466667,4931.000000,4954.933333,4927.800000,NaN,3692.814341
Latvia,NaN,176.866667,NaN,180.400000,NaN,173.533333,NaN,174.666667,179.133333,183.600000,...,297.800000,284.233333,288.533333,312.733333,316.933333,307.033333,312.000000,303.600000,294.300000,238.206349
Lithuania,NaN,576.266667,NaN,587.866667,NaN,313.800000,NaN,313.100000,314.066667,307.533333,...,508.733333,518.066667,509.800000,510.900000,527.466667,531.266667,537.900000,540.866667,NaN,421.457831
Luxembourg,NaN,32.766667,NaN,NaN,NaN,31.733333,NaN,NaN,NaN,32.933333,...,121.700000,121.066667,124.333333,124.266667,126.233333,127.066667,135.500000,135.166667,NaN,77.132479
Malta,NaN,8.866667,NaN,NaN,NaN,16.000000,NaN,NaN,15.266667,15.600000,...,65.933333,67.466667,67.066667,69.233333,70.533333,70.800000,72.366667,70.933333,NaN,35.849794
Netherlands,1559.633333,1569.400000,1546.200000,1576.066667,1562.000000,1561.200000,1584.333333,1598.866667,1599.466667,1632.866667,...,2862.166667,2900.033333,2974.000000,3031.100000,3049.133333,3049.733333,3079.000000,3140.200000,3189.900000,2236.214015
Portugal,357.466667,362.733333,354.666667,368.200000,377.266667,380.766667,383.866667,393.700000,394.533333,399.333333,...,1124.333333,1138.200000,1186.666667,1224.600000,1295.666667,1295.400000,1326.733333,1385.866667,1387.733333,770.833712
Slovakia,208.133333,214.200000,220.800000,220.433333,227.933333,223.200000,229.666667,232.866667,232.066667,226.133333,...,629.833333,628.766667,636.466667,648.966667,652.333333,647.666667,657.066667,656.800000,NaN,422.778161
Slovenia,131.733333,130.600000,130.533333,133.266667,117.266667,114.700000,113.833333,117.333333,119.733333,118.533333,...,292.666667,301.066667,307.133333,309.800000,337.633333,362.000000,369.066667,335.400000,NaN,219.735632
Spain,3831.633333,3893.766667,3990.866667,4052.266667,4102.733333,4110.266667,4183.800000,4248.966667,4351.966667,4405.000000,...,7767.866667,7815.866667,7927.500000,8040.900000,8053.000000,8164.600000,8168.266667,8268.000000,8267.300000,6136.082955

In [23]:
aggregate = total_education[['Total Average']]
aggregate['basic Average'] = (basic_education['Basic Average'] / total_education['Total Average']) *100
aggregate['intermediate Average'] = (intermediate_education['Intermidiate Average'] / total_education['Total Average'])*100
aggregate['advanced Average'] = (advanced_education['Advanced Average'] / total_education['Total Average'])*100
aggregate

<ipython-input-23-ba1541e79d05>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aggregate['basic Average'] = (basic_education['Basic Average'] / total_education['Total Average']) *100
<ipython-input-23-ba1541e79d05>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aggregate['intermediate Average'] = (intermediate_education['Intermidiate Average'] / total_education['Total Average'])*100
<ipython-input-23-ba1541e79d05>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aggregate['advanced Average'] = (advanced_education['Advanced Average'] / total_education['Total Average'])*100

time,Total Average,basic Average,intermediate Average,advanced Average
classif2.label,,,,
ref_area.label,,,,
Austria,4251.857471,24.368408,55.950413,19.680261
Belgium,5402.142424,35.439019,35.401127,29.158949
Cyprus,405.522535,31.249544,36.761241,31.988520
Estonia,677.030303,20.312808,49.878312,29.687192
Finland,2673.894253,26.219912,42.450433,31.150256
France,30468.413924,32.586585,40.827495,26.463179
Germany,41648.699510,21.138615,55.168189,22.657531
Greece,5499.604981,41.622488,38.389027,19.988360
Ireland,2200.983525,31.387709,34.523890,30.642031
Italy,29961.203101,50.423060,37.090959,12.325321
Latvia,1060.762302,21.759808,55.734402,22.456148
Lithuania,1570.605221,20.010832,53.151945,26.834104
Luxembourg,265.166667,31.693339,35.931602,29.088301
Malta,224.192593,59.690559,24.312577,15.990624
Netherlands,8329.065152,32.690694,39.428249,26.848319
Portugal,5285.992803,66.883167,18.534275,14.582572
Slovakia,2818.601149,18.634797,66.365738,14.999574
Slovenia,1060.309962,22.572413,56.526556,20.723717
Spain,22963.991288,50.806167,21.205145,26.720455

In [24]:
productivity_quarter = pd.read_csv('./data/GDP_per_quarter.csv') 
productivity_quarter.drop(index = 10, inplace=True)
productivity_quarter = productivity_quarter.reindex([1,2,3,5,7, 8,4,9,11,12,15,13,14,16,17,18,0,19,6])
# productivity_quarter1.sort_index(axis=0, ascending = True, inplace=True)
productivity_quarter.reset_index(inplace= True)
# productivity_quarter1
# productivity_quarter['Average GDP'] = productivity_quarter.iloc[:,:20].mean(axis=1, skipna=True)
# productivity_quarter.drop(index=10, inplace = True)
productivity_quarter = productivity_quarter.iloc[:,1:]

productivity_quarter

,Country,2021-Q4,2021-Q3,2021-Q2,2021-Q1,2020-Q4,2020-Q3,2020-Q2,2020-Q1,2019-Q4,...,2002-Q2,2002-Q1,2001-Q4,2001-Q3,2001-Q2,2001-Q1,2000-Q4,2000-Q3,2000-Q2,2000-Q1
0,Austria,9.241863e+10,9.377876e+10,9.070556e+10,8.715757e+10,8.750030e+10,8.917405e+10,8.047778e+10,9.086087e+10,9.318910e+10,...,7.206637e+10,7.170129e+10,7.109538e+10,7.069148e+10,7.065559e+10,7.082965e+10,7.107146e+10,6.996467e+10,6.965500e+10,6.922582e+10
1,Belgium,1.136930e+11,1.131120e+11,1.108510e+11,1.089670e+11,1.076290e+11,1.077780e+11,9.633100e+10,1.090200e+11,1.125520e+11,...,8.460400e+10,8.388600e+10,8.317100e+10,8.325400e+10,8.341300e+10,8.339800e+10,8.335100e+10,8.254400e+10,8.216300e+10,8.157600e+10
2,Cyprus,5.722387e+09,5.680197e+09,5.583790e+09,5.495300e+09,5.402400e+09,5.372536e+09,4.926879e+09,5.605236e+09,5.644720e+09,...,3.779115e+09,3.718785e+09,3.682507e+09,3.693130e+09,3.623781e+09,3.554633e+09,3.506329e+09,3.469149e+09,3.574174e+09,3.451010e+09
3,Estonia,6.569154e+09,6.455124e+09,6.389617e+09,6.238700e+09,6.037598e+09,5.907816e+09,5.701474e+09,6.053237e+09,6.127212e+09,...,3.534022e+09,3.414611e+09,3.390976e+09,3.341946e+09,3.274328e+09,3.270264e+09,3.223752e+09,3.152816e+09,3.114389e+09,3.038302e+09
4,Finland,5.888300e+10,5.847100e+10,5.789500e+10,5.686400e+10,5.693500e+10,5.641300e+10,5.372100e+10,5.724900e+10,5.740400e+10,...,4.614800e+10,4.569600e+10,4.539900e+10,4.552700e+10,4.524100e+10,4.518700e+10,4.496700e+10,4.449400e+10,4.380800e+10,4.347300e+10
5,France,5.946380e+11,5.904640e+11,5.725200e+11,5.650850e+11,5.641260e+11,5.703250e+11,4.809560e+11,5.557900e+11,5.893200e+11,...,4.754990e+11,4.733170e+11,4.715550e+11,4.714330e+11,4.701620e+11,4.692930e+11,4.667350e+11,4.629730e+11,4.600970e+11,4.555980e+11
6,Germany,8.034510e+11,8.062500e+11,7.930100e+11,7.761400e+11,7.894350e+11,7.836100e+11,7.186240e+11,7.984380e+11,8.127750e+11,...,6.487370e+11,6.458620e+11,6.492670e+11,6.500230e+11,6.510830e+11,6.514610e+11,6.386190e+11,6.405860e+11,6.407370e+11,6.355170e+11
7,Greece,4.584950e+10,4.565604e+10,4.476764e+10,4.432106e+10,4.258747e+10,4.097389e+10,3.888867e+10,4.493059e+10,4.583614e+10,...,4.931402e+10,4.823439e+10,4.784349e+10,4.771708e+10,4.695564e+10,4.707973e+10,4.650407e+10,4.585344e+10,4.501243e+10,4.460121e+10
8,Ireland,9.870866e+10,1.043020e+11,1.030240e+11,9.847247e+10,8.973704e+10,9.370313e+10,8.532482e+10,8.799766e+10,8.557602e+10,...,3.945551e+10,3.916320e+10,3.808159e+10,3.750901e+10,3.781426e+10,3.718079e+10,3.625790e+10,3.616305e+10,3.557843e+10,3.441913e+10
9,Italy,4.286820e+11,4.262490e+11,4.158820e+11,4.050610e+11,4.036780e+11,4.100990e+11,3.534960e+11,4.045990e+11,4.299440e+11,...,4.236520e+11,4.219260e+11,4.214590e+11,4.222090e+11,4.234150e+11,4.250930e+11,4.222830e+11,4.162720e+11,4.137340e+11,4.103960e+11
10,Latvia,7.006043e+09,7.011162e+09,6.977314e+09,6.837968e+09,6.793592e+09,6.686103e+09,6.333569e+09,6.814765e+09,6.926659e+09,...,4.043383e+09,3.899953e+09,3.899595e+09,3.775036e+09,3.853664e+09,3.687831e+09,3.605985e+09,3.651407e+09,3.539236e+09,3.546912e+09
11,Lithuania,1.154467e+10,1.141665e+10,1.133518e+10,1.120127e+10,1.101543e+10,1.084672e+10,1.044143e+10,1.109183e+10,1.101126e+10,...,5.727398e+09,5.553462e+09,5.547358e+09,5.418847e+09,5.312136e+09,5.293208e+09,5.168622e+09,5.090859e+09,5.015338e+09,4.964666e+09
12,Luxembourg,1.602294e+10,1.594123e+10,1.586494e+10,1.586010e+10,1.528643e+10,1.520464e+10,1.407860e+10,1.501331e+10,1.518056e+10,...,9.802697e+09,9.633340e+09,9.593224e+09,9.348614e+09,9.216029e+09,9.332280e+09,9.182490e+09,9.128852e+09,8.972510e+09,9.091510e+09
13,Malta,3.347345e+09,3.271927e+09,3.166041e+09,3.135257e+09,3.043732e+09,2.902212e+09,2.728447e+09,3.150512e+09,3.303353e+09,...,1.530871e+09,1.530572e+09,1.496564e+09,1.503344e+09,1.475233e+09,1.495686e+09,1.540639e+09,1.506576e+09,1.528148e+09,1.462303e+09
14,Netherlands,1.958590e+11,1.940600e+11,1.900560e+11,1.831740e+11,1.846080e+11,1.846070e+11,1.717180e+11,1.874160e+11,1.905480e+11,...,1.488760e+11,1.483590e+11,1.492700e+11,1.487900e+11,1.485320e+11,1.477840e+11,1.476240e+11,1.457300e+11,1.445370e+11,1.429410e+11
15,Portugal,4.987104e+10,4.909440e+10,4.777122e+10,4.578896e+10,4.713387e+10,4.700456e+10,4.099022e+10,4.836586e+10,5.059960e+10,...,4.489984e+10,4.510914e+10,4.502908e+10,4.440780e+10,4.434290e+10,4.391802e+10,4.405578e+10,4.376283e+10,4.313102e+10,4.336017e+10
16,Slovakia,NaN,NaN,NaN,NaN,NaN,2.180855e+10,1.953442e+10,2.130274e+10,2.244234e+10,...,1.155564e+10,1.143982e+10,1.140442e+10,1.116490e+10,1.111826e+10,1.100148e+10,1.092408e+10,1.086316e+10,1.079898e+10,1.069456e+10
17,Slovenia,1.227312e+10,1.164805e+10,1.149317e+10,1.126830e+10,1.110580e+10,1.112624e+10,9.949593e+09,1.098621e+10,1.151627e+10,...,7.696591e+09,7.704116e+09,7.601874e+09,7.528373e+09,7.483864e+09,7.463842e+09,7.370898e+09,7.320786e+09,7.236308e+09,7.135116e+09
18,Spain,2.880450e+11,2.823650e+11,2.751290e+11,2.718860e+11,2.737190e+11,2.731110e+11,2.338310e+11,2.839550e+11,3.001360e+11,...,2.329420e+11,2.310590e+11,2.300800e+11,2.284990e+11,2.263890e+11,2.247280e+11,2.223670e+11,2.200990e+11,2.177490e+11,2.150560e+11

In [25]:
productivity_quarter1 = productivity_quarter.set_index('Country')
productivity_quarter1['Average GDP'] = productivity_quarter1.iloc[:,:88].mean(axis=1, skipna=True)
productivity_quarter1

,2021-Q4,2021-Q3,2021-Q2,2021-Q1,2020-Q4,2020-Q3,2020-Q2,2020-Q1,2019-Q4,2019-Q3,...,2002-Q1,2001-Q4,2001-Q3,2001-Q2,2001-Q1,2000-Q4,2000-Q3,2000-Q2,2000-Q1,Average GDP
Country,,,,,,,,,,,,,,,,,,,,,
Austria,9.241863e+10,9.377876e+10,9.070556e+10,8.715757e+10,8.750030e+10,8.917405e+10,8.047778e+10,9.086087e+10,9.318910e+10,9.343752e+10,...,7.170129e+10,7.109538e+10,7.069148e+10,7.065559e+10,7.082965e+10,7.107146e+10,6.996467e+10,6.965500e+10,6.922582e+10,8.216496e+10
Belgium,1.136930e+11,1.131120e+11,1.108510e+11,1.089670e+11,1.076290e+11,1.077780e+11,9.633100e+10,1.090200e+11,1.125520e+11,1.118210e+11,...,8.388600e+10,8.317100e+10,8.325400e+10,8.341300e+10,8.339800e+10,8.335100e+10,8.254400e+10,8.216300e+10,8.157600e+10,9.776245e+10
Cyprus,5.722387e+09,5.680197e+09,5.583790e+09,5.495300e+09,5.402400e+09,5.372536e+09,4.926879e+09,5.605236e+09,5.644720e+09,5.633095e+09,...,3.718785e+09,3.682507e+09,3.693130e+09,3.623781e+09,3.554633e+09,3.506329e+09,3.469149e+09,3.574174e+09,3.451010e+09,4.602102e+09
Estonia,6.569154e+09,6.455124e+09,6.389617e+09,6.238700e+09,6.037598e+09,5.907816e+09,5.701474e+09,6.053237e+09,6.127212e+09,6.104921e+09,...,3.414611e+09,3.390976e+09,3.341946e+09,3.274328e+09,3.270264e+09,3.223752e+09,3.152816e+09,3.114389e+09,3.038302e+09,4.821127e+09
Finland,5.888300e+10,5.847100e+10,5.789500e+10,5.686400e+10,5.693500e+10,5.641300e+10,5.372100e+10,5.724900e+10,5.740400e+10,5.754600e+10,...,4.569600e+10,4.539900e+10,4.552700e+10,4.524100e+10,4.518700e+10,4.496700e+10,4.449400e+10,4.380800e+10,4.347300e+10,5.238119e+10
France,5.946380e+11,5.904640e+11,5.725200e+11,5.650850e+11,5.641260e+11,5.703250e+11,4.809560e+11,5.557900e+11,5.893200e+11,5.915020e+11,...,4.733170e+11,4.715550e+11,4.714330e+11,4.701620e+11,4.692930e+11,4.667350e+11,4.629730e+11,4.600970e+11,4.555980e+11,5.272644e+11
Germany,8.034510e+11,8.062500e+11,7.930100e+11,7.761400e+11,7.894350e+11,7.836100e+11,7.186240e+11,7.984380e+11,8.127750e+11,8.133800e+11,...,6.458620e+11,6.492670e+11,6.500230e+11,6.510830e+11,6.514610e+11,6.386190e+11,6.405860e+11,6.407370e+11,6.355170e+11,7.169123e+11
Greece,4.584950e+10,4.565604e+10,4.476764e+10,4.432106e+10,4.258747e+10,4.097389e+10,3.888867e+10,4.493059e+10,4.583614e+10,4.596821e+10,...,4.823439e+10,4.784349e+10,4.771708e+10,4.695564e+10,4.707973e+10,4.650407e+10,4.585344e+10,4.501243e+10,4.460121e+10,4.934598e+10
Ireland,9.870866e+10,1.043020e+11,1.030240e+11,9.847247e+10,8.973704e+10,9.370313e+10,8.532482e+10,8.799766e+10,8.557602e+10,8.432689e+10,...,3.916320e+10,3.808159e+10,3.750901e+10,3.781426e+10,3.718079e+10,3.625790e+10,3.616305e+10,3.557843e+10,3.441913e+10,5.658754e+10
Italy,4.286820e+11,4.262490e+11,4.158820e+11,4.050610e+11,4.036780e+11,4.100990e+11,3.534960e+11,4.045990e+11,4.299440e+11,4.334470e+11,...,4.219260e+11,4.214590e+11,4.222090e+11,4.234150e+11,4.250930e+11,4.222830e+11,4.162720e+11,4.137340e+11,4.103960e+11,4.246378e+11
Latvia,7.006043e+09,7.011162e+09,6.977314e+09,6.837968e+09,6.793592e+09,6.686103e+09,6.333569e+09,6.814765e+09,6.926659e+09,6.892377e+09,...,3.899953e+09,3.899595e+09,3.775036e+09,3.853664e+09,3.687831e+09,3.605985e+09,3.651407e+09,3.539236e+09,3.546912e+09,5.651971e+09
Lithuania,1.154467e+10,1.141665e+10,1.133518e+10,1.120127e+10,1.101543e+10,1.084672e+10,1.044143e+10,1.109183e+10,1.101126e+10,1.087110e+10,...,5.553462e+09,5.547358e+09,5.418847e+09,5.312136e+09,5.293208e+09,5.168622e+09,5.090859e+09,5.015338e+09,4.964666e+09,8.392801e+09
Luxembourg,1.602294e+10,1.594123e+10,1.586494e+10,1.586010e+10,1.528643e+10,1.520464e+10,1.407860e+10,1.501331e+10,1.518056e+10,1.520481e+10,...,9.633340e+09,9.593224e+09,9.348614e+09,9.216029e+09,9.332280e+09,9.182490e+09,9.128852e+09,8.972510e+09,9.091510e+09,1.237132e+10
Malta,3.347345e+09,3.271927e+09,3.166041e+09,3.135257e+09,3.043732e+09,2.902212e+09,2.728447e+09,3.150512e+09,3.303353e+09,3.251441e+09,...,1.530572e+09,1.496564e+09,1.503344e+09,1.475233e+09,1.495686e+09,1.540639e+09,1.506576e+09,1.528148e+09,1.462303e+09,2.143131e+09
Netherlands,1.958590e+11,1.940600e+11,1.900560e+11,1.831740e+11,1.846080e+11,1.846070e+11,1.717180e+11,1.874160e+11,1.905480e+11,1.895920e+11,...,1.483590e+11,1.492700e+11,1.487900e+11,1.485320e+11,1.477840e+11,1.476240e+11,1.457300e+11,1.445370e+11,1.429410e+11,1.671088e+11
Portugal,4.987104e+10,4.909440e+10,4.777122e+10,4.578896e+10,4.713387e+10,4.700456e+10,4.099022e+10,4.836586e+10,5.059960e+10,5.018576e+10,...,4.510914e+10,4.502908e+10,4.440780e+10,4.434290e+10,4.391802e+10,4.405578e+10,4.376283e+10,4.313102e+10,4.336017e+10,4.596198e+10
Slovakia,NaN,NaN,NaN,NaN,NaN,2.180855e+10,1.953442e+10,2.130274e+10,2.244234e+10,2.231139e+10,...,1.143982e+10,1.140442e+10,1.116490e+10,1.111826e+10,1.100148e+10,1.092408e+10,1.086316e+10,1.079898e+10,1.069456e+10,1.692507e+10
Slovenia,1.227312e+10,1.164805e+10,1.149317e+10,1.126830e+10,1.110580e+10,1.112624e+10,9.949593e+09,1.098621e+10,1.151627e+10,1.135774e+10,...,7.704116e+09,7.601874e+09,7.528373e+09,7.483864e+09,7.463842e+09,7.370898e+09,7.320786e+09,7.236308e+09,7.135116e+09,9.457837e+09
Spain,2.880450e+11,2.823650e+11,2.751290e+11,2.718860e+11,2.737190e+11,2.731110e+11,2.338310e+11,2.839550e+11,3.001360e+11,2.990100e+11,...,2.310590e+11,2.300800e+11,2.284990e+11,2.263890e+11,2.247280e+11,2.223670e+11,2.200990e+11,2.177490e+11,2.150560e+11,2.637005e+11

In [26]:
df3 = (productivity_quarter1[['Average GDP']])
# corr = df3.corr(aggregate)
# print(corr)
df3['basic Average'] = aggregate[['basic Average']]
df3['intermediate Average'] = aggregate[['intermediate Average']]
df3['Advanced Average'] = aggregate[['advanced Average']]


df3

<ipython-input-26-b2bfd6b77c09>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['basic Average'] = aggregate[['basic Average']]
<ipython-input-26-b2bfd6b77c09>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['intermediate Average'] = aggregate[['intermediate Average']]
<ipython-input-26-b2bfd6b77c09>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Advanced Average'] = aggregate[['advanced Average']]

,Average GDP,basic Average,intermediate Average,Advanced Average
Country,,,,
Austria,8.216496e+10,24.368408,55.950413,19.680261
Belgium,9.776245e+10,35.439019,35.401127,29.158949
Cyprus,4.602102e+09,31.249544,36.761241,31.988520
Estonia,4.821127e+09,20.312808,49.878312,29.687192
Finland,5.238119e+10,26.219912,42.450433,31.150256
France,5.272644e+11,32.586585,40.827495,26.463179
Germany,7.169123e+11,21.138615,55.168189,22.657531
Greece,4.934598e+10,41.622488,38.389027,19.988360
Ireland,5.658754e+10,31.387709,34.523890,30.642031
Italy,4.246378e+11,50.423060,37.090959,12.325321
Latvia,5.651971e+09,21.759808,55.734402,22.456148
Lithuania,8.392801e+09,20.010832,53.151945,26.834104
Luxembourg,1.237132e+10,31.693339,35.931602,29.088301
Malta,2.143131e+09,59.690559,24.312577,15.990624
Netherlands,1.671088e+11,32.690694,39.428249,26.848319
Portugal,4.596198e+10,66.883167,18.534275,14.582572
Slovakia,1.692507e+10,18.634797,66.365738,14.999574
Slovenia,9.457837e+09,22.572413,56.526556,20.723717
Spain,2.637005e+11,50.806167,21.205145,26.720455

In [27]:
corr = df3.corr()
print(corr)

                      Average GDP  basic Average  intermediate Average  \
Average GDP              1.000000       0.041628              0.007091
basic Average            0.041628       1.000000             -0.881632
intermediate Average     0.007091      -0.881632              1.000000
Advanced Average        -0.117113      -0.420865             -0.051754

                      Advanced Average
Average GDP                  -0.117113
basic Average                -0.420865
intermediate Average         -0.051754
Advanced Average              1.000000

In [29]:
correl_signif = pearsonr(productivity_quarter1['Average GDP'], aggregate['basic Average'])
correl = correl_signif[0]
correl

0.041627548073253404